<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Profil</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="profil-detail">
        <img class="image-profil" alt="Photo de profil">
        <div class="texte-box-profil">
            <br>
            <h4>Mon Profil : Nom d'utilisateur</h4>
        </div>
    </div>

    <div class="navigation-profil">
        <a class="nav-link" href="/profile/stages">Mes Stages</a>
        <a class="nav-link" href="/profile/info">Informations générales</a>
        <a class="nav-link" href="/profile/wishlist">Ma Wishlist</a>
    </div>

    <div class="statistiques-profil">
        <h4 class="texte-profil">Statistiques du compte</h4>          
        <br>
        <p class="informations-profil">Nombre d'offres dans la wishlist : </p>
        <br>
        <p class="informations-profil">Nombre de stages complétés :</p>
        <br>
        <p class="informations-profil">Nombre de candidatures envoyées :</p>
        <br>
    </div>

</body>
</html>
