<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Évaluation du stage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Évaluation du stage : Nom de l'offre</h1>
    <div class="offer">
        <p>Choisir un nombre entre 1 et 20</p>
        <form action="" method="post" class="verif">
            <label for="note">Note globale du stage</label>
            <input type="text" class="formulaire-contact" name="note" id="note" placeholder="">
            <button class="bouton-envoyer-contact">Envoyer</button>   
        </form>
    </div>

</body>
</html>
