<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactez-nous</title>
    <link rel="stylesheet" href="styles.css"> <!-- Lien vers un fichier CSS si nécessaire -->
</head>
<body>

    <div class="titre-contact">Contactez-nous !</div>

    <div>
        <div class="form-group">
            <div class="texte-contact">Prénom :</div>
            <input type="text" class="formulaire-contact" id="fname" placeholder="Entrez votre prénom" name="fname">
        </div>
        <div class="form-group">
            <div class="texte-contact">Nom de famille :</div>
            <input type="text" class="formulaire-contact" id="lname" placeholder="Entrez votre nom de famille" name="lname">
        </div>
        <div class="form-group">
            <div class="texte-contact">E-mail :</div>
            <input type="email" class="formulaire-contact" id="email" placeholder="Entrez votre email" name="email">
        </div>
        <div class="form-group">
            <div class="texte-contact">Message :</div>
            <textarea class="message-contact" id="message" placeholder="Entrez votre message" name="message"></textarea>
        </div>
        <button type="submit" class="bouton-envoyer-contact">Envoyer</button>
    </div>

</body>
</html>
